# Node/Next
node_modules
.next
out

# Env
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Backend umum
backend/.env
backend/.env.*
backend/__pycache__/
backend/venv/
backend/.venv/
backend/node_modules
backend/.next